@property --time {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

:root {
    --clock-width: 95vmin;
    --seconds-in-12-hours: calc(12 * 60 * 60);
    --seconds-in-12-hours-secs: calc(12 * 60 * 60s);
    animation: passing-time var(--seconds-in-12-hours-secs) infinite steps(var(--seconds-in-12-hours));
}

body {
    margin: 0;
    font-family: sans-serif;
}

.clock {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: var(--clock-width);
    height: var(--clock-width);
}

.hour-mark {
    width: calc(var(--clock-width) / 100);
    height: calc(var(--clock-width) / 10);
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    background: black;
    transform: rotate(calc(var(--hour) * 30deg));
    transform-origin: center calc(var(--clock-width) * 0.5);
}

.hour-mark::after {
    content: var(--hour-str);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.second-hand {
    background: red;
    position: absolute;
    left: 50%;
    width: 1px;
    height: calc(var(--clock-width) * 0.5);
    transform: translateX(-50%) rotate(calc((var(--time) + var(--offset)) * 360deg / 60));
    transform-origin: center calc(var(--clock-width) * 0.5);
}

.minute-hand {
    background: black;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    width: 4px;
    height: calc(var(--clock-width) * 0.45);
    transform: translateX(-50%) rotate(calc((var(--time) + var(--offset)) * 360deg / 60 / 60));
    transform-origin: center calc(var(--clock-width) * 0.45);
    margin-top: calc(var(--clock-width) * 0.05);
}

.hour-hand {
    background: black;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    width: 8px;
    height: calc(var(--clock-width) * 0.35);
    transform: translateX(-50%) rotate(calc((var(--time) + var(--offset)) * 360deg / var(--seconds-in-12-hours)));
    transform-origin: center calc(var(--clock-width) * 0.35);
    margin-top: calc(var(--clock-width) * 0.15);
}

@keyframes passing-time {
    0% {
        --time: 0;
    }
    100% {
      --time: var(--seconds-in-12-hours);
    }
  }