:root {
    --clock-width: 95vmin;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.clock {
    position: absolute;
    width: var(--clock-width);
    height: var(--clock-width);
    inset: 0;
    margin: auto;
}

.clock:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(black 3vmin, transparent 3vmin);
    content: '';
}

.hour-mark {
    width: calc(var(--clock-width) / 100);
    height: calc(var(--clock-width) / 10);
    margin: auto;
    position: absolute;
    inset-inline: 0;
    background: black;
    transform: rotate(calc(var(--hour) * 30deg));
    transform-origin: center calc(var(--clock-width) * 0.5);
}

.hour-mark::after {
    content: var(--hour-str);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.second-hand {
    background: red;
    position: absolute;
    inset: 50% 50%;
    width: 1px;
    height: calc(var(--clock-width) * 0.5);
    transform-origin: center 0;
    animation: passing-time 60s infinite steps(60) calc(-1s * var(--second));

}

.minute-hand {
    background: black;
    position: absolute;
    inset: 50% 50%;
    width: 4px;
    height: calc(var(--clock-width) * 0.45);
    transform-origin: center 0;
    animation: passing-time 3600s infinite steps(3600) calc(-1s * (60 * var(--minute) + var(--second)));
}

.hour-hand {
    background: black;
    position: absolute;
    inset: 50% 50%;
    width: 8px;
    height: calc(var(--clock-width)* 0.35);
    transform-origin: center 0;
    animation: passing-time 43200s infinite steps(43200) calc(-1s * (60 * (60 * var(--hour) + var(--minute)) + var(--second)));
}

@keyframes passing-time {
    0% {
        transform: translateX(-50%) rotate(calc(180deg));
    }
    100% {
        transform: translateX(-50%) rotate(calc(180deg + 360deg));
    }
}
